<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Everyday</title>
		<link rel="stylesheet" href="/docs/style.css" type="text/css"/>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/js/main.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript" src="weatherapi.js"></script>
  <script type="text/javascript" src="newsapi.js"></script>
</html>